<div class="cmd cmd-widget" data-type="info" data-subtype="string" data-template="default" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <div class="title #hide_name#">
        <div class="cmdName">#name_display#</div>
    </div>
    <div class="content-sm">
        <span class="imgCmd">
            <img src="./plugins/ttscast/data/images/ttscast-200.png" style="object-fit:cover;object-position:center;max-height:200px;max-width:200px;" />
        </span>
    </div>
    <div class="timeCmd label label-default #history#" data-type="info"></div>
    <template>
        <div>time : duration|date ({{Affiche durée ou date de la valeur}})</div>
    </template>
    <script>
        jeedom.cmd.addUpdateFunction('#id#', function (_options) {
            if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
                cmd.querySelector('.content-sm').setAttribute('title', '{{Date de valeur}} : ' + _options.valueDate + '<br>{{Date de collecte}} : ' + _options.collectDate)
                if ('#time#' == 'duration' || '#time#' == 'date') {
                    jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
                }

                if (_options.value != '') {
                    cmd.querySelector('.content-sm img').src = './plugins/ttscast/core/php/ttscast.img.proxy.php?img=' + btoa(_options.value)
                } else {
                    cmd.querySelector('.content-sm img').src = './plugins/ttscast/data/images/ttscast-200.png'
                }
            }
        })

        jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#' }])
    </script>
</div>